extends ../../../layout/default.pug 
include ../../../mixins/alert.pug

block content
  main
    +alert-error(7000)

    form(
          action=`${prefixAdmin}/account/create`,
          method="POST",
          class="form-wrapper",
          enctype="multipart/form-data"
        )
      
      .form-block
        .form-header
          div
            h2 Tạo tài khoản
            p tạo tài khoản cho webside
          .form-actions
            a(href=prefixAdmin + '/account' class='btn-cancel')
              span Quay lại trang danh sách
            button.btn-draft(type="button") Lưu nháp
            button.btn-submit(type="submit") Thêm mới

      // Block 2: Tiêu đề và mô tả
      .form-block
        .form-group
          label(for="fullName") Họ tên*
          input(type="text", id="fullName", placeholder="họ và tên", name='fullName')
        .form-group
          label(for="email") Email*
          input(type="text", id="email", placeholder="abc@gmail.com", name='email')
        .form-group
          label(for="password") Mật khẩu*
          input(type="password", id="password", name='password')
        .form-group
          label(for="phone") Số điện thoại
          input(type="text", id="phone",  name='phone')
          p
          |
          label Ảnh đại diện
        .form-image(upload-image) 
          input(type="file", id='file-upload', name="avatar" 
          multiple , input-upload)
          label(for="file-upload")
            i.bx.bx-upload
            span Chọn một ảnh 
          p.num-of-files chưa có file nào được chọn
          .images

        p
        |
        .form-group
          label(for="role_id") Phân quyền 
          select(name="role_id", id="role_id") 
            option(value="") -- Chọn --
            each item in roles
              option(value=item.id) #{item.title}
             
        .form-group
          label Trạng thái
        .radio-group
          .form-radio
            input(type="radio",id="statusActive", name="status", value="active", checked)
            label(for="statusActive") Hoạt động
          .form-radio
            input(type="radio",id="statusInActive", name="status", value="active")
            label(for="statusInActive") Dừng hoạt động
  
  script(src='/admin/js/create-product.js')