extends ../../../layout/default.pug
include ../../../mixins/box-head.pug
include ../../../mixins/notyf.pug
include ../../../mixins/quantity-control.pug
block content
  +notyfSuccess(messages.success && messages.success[0])
  +notyfError(messages.error && messages.error[0])


  p
  .detail-product   
    .detail-product-wrapper
      .row
        .col-md-5
          .detail-product-image
            img.product-img(src=product.thumbnail, alt=product.title)

        .col-md-7
          .detail-product-content 
            .detail-product-title 
              h1 #{product.title}
            if(product.category)
              .detail-product-category 
                span Danh mục:  
                a(href=`/product/${product.category.slug}`) #{product.category.title}
            .detail-product-price
              .detail-product-new-price
                span #{product.priceNew}đ
              .detail-product-old-price
                span #{product.price}đ
              .detail-product-discount
                span -#{product.discountPercentage}%

            form(action=`/cart/add/${product._id}`, method="POST")
              .detail-product-quantity
                +quantity-control(product.stock)

              .detail-product-action
                button.btn.btn-cart(type="submit")
                  i.bx.bx-cart-alt
                  span Thêm Vào Giỏ Hàng
                a.btn.btn-buy(href="#") Mua Ngay



          // Mô tả
          .mt-4
            h5.font-weight-bold Mô tả
            p !{product.description}
            