extends ../../../layout/default.pug 
include ../../../mixins/alert.pug
include ../../../mixins/select-tree.pug

block content
  main
    if(role.permissions.includes("category_edit"))
      +alert-error(7000)
      +alert-success(5000)

      form(
            action=`${prefixAdmin}/category/edit/${category._id}?_method=PATCH`,
            method="POST",
            class="form-wrapper",
            enctype="multipart/form-data"
          )
        // Block 1: Header
        .form-block
          .form-header
            div
              h2 Chỉnh sửa danh mục
              p thay đổi chi tiết danh mục của của sản phẩm
            .form-actions
              a(href=prefixAdmin + '/category' class='btn-cancel')
                span Quay lại trang danh sách
              button.btn-draft(type="button") Lưu nháp
              button.btn-submit(type="submit") Cập nhật

        // Block 2: Tiêu đề và mô tả
        .form-block
          .form-group
            label(for="title") Tên danh mục
            input(type="text", id="title", placeholder="Nhập tên của danh mục", name='title' value=category.title)
          .form-group
            label(for="parent_id") Danh mục cha
            //- input(type="text", id="parent_id", placeholder="Nhập danh mục cha", name='parent_id')
            select(name="parent_id", id="parent_id") 
              option(value="") -- Chọn danh mục cha --
                if(categories) 
                  +select-tree(categories, 1, category.parent_id)
          .form-group
            label(for="description") Mô tả 
              span (tuỳ chọn)
            textarea(id="description", rows="4", placeholder="Mô tả chi tiết sản phẩm", name='description')= category.description
        // Block 4: Hình ảnh
        .form-block
          .form-image(upload-image) 
            input(type="file", id='file-upload', name="thumbnail" 
            multiple , input-upload)
            label(for="file-upload")
              i.bx.bx-upload
              span Chọn một ảnh 
            if category && category.thumbnail  
              p.num-of-files 
            else
              p.num-of-files chưa có file nào được chọn
            .images
              if category && category.thumbnail
                .file-item
                  img(src=category.thumbnail)
                  .file-name= category.thumbnail.split('/').pop()
                  button(onclick="this.parentElement.remove()") Remove file
            

        // Block 5: Vị trí và trạng thái
        .form-block
          .form-group
            label(for="position") Vị trí hiển thị
            input(type="text", id="position", name="position", placeholder="tự động tăng" value=category.position )
          .form-group
            label Trạng thái
          .radio-group
            .form-radio
              input(type="radio",id="statusActive", name="status", value="active", checked=category.status == 'active' ? true : false)
              label(for="statusActive") Hoạt động
            .form-radio
              input(type="radio",id="statusInActive", name="status", value="active"  checked=category.status == 'inactive' ? true : false)
              label(for="statusInActive") Dừng hoạt động
  
  script(src='/admin/js/create-product.js')