mixin dropdown-change-multi(actionPath)
  form(
     action=`${actionPath}?_method=PATCH`,
    method="POST",
    class="form-change-multi"
  )
    input(
      type="text"
      name="ids"
      value=""
      class="form-control d-none"
    )
    input(
      type="text"
      name="type"
      value=""
      class="form-control d-none"
    )

    .dropdown
      button.dropdown-btn#dropdownToggle(type="button")  
        span Hành động
        i.bx.bx-chevron-down
      .dropdown-content#dropdownMenu
        button.dropdown-item(type="button" name="type" value="active")
          i.bx.bx-check-circle(style="color: #28a745") 
          span Hoạt động
        button.dropdown-item(type="button" name="type" value="inactive")
          i.bx.bx-block(style="color: #dc3545")
          span Dừng hoạt động
        button.dropdown-item(type="button" name="type" value="delete-all")
          i.bx.bx-trash(style="color: #6c757d")
          span Xóa tất cả
        button.dropdown-item(type="button" name="type" value="change-position")
          i.bx.bx-time(style="color: #ffc107")
          span Thay đổi vị trí