extends ../../layout/default.pug 
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/modal.pug


block content
  main.main-wrapper
    .main__header 
      h2 Danh sách sản phẩm 
      .actions 
        button + Thêm sản phẩm 
        button
          i.bx.bx-network-chart
          | Hành động 
    .main__filters 
      +search(keyword)
      select#status-filter
        option(value="" disabled selected) -- Trạng thái --
        option(value="active") Hoạt động
        option(value="inactive") Dừng hoạt động
        option(value="") Tất cả
      select
        option -- Danh mục -- 

      form(
        action=`${prefixAdmin}/product/change-multi?_method=PATCH`,
        method="POST",
        class="form-change-multi"
      )
        .d-flex.align-items-start
          .form-group
            select(name="type" class="form-control")
              option(value="active") Hoạt động
              option(value="inactive") Dừng hoạt động
          .form-group
            input(
              type="text"
              name="ids"
              value=""
              class="form-control d-none"
            )
          button(type="submit" class="btn btn-primary") Áp dụng

    table(checkbox-multi)
      thead
        tr
          th 
            input(type="checkbox" name="checkAll")
          th Tên sản phẩm
          th Thuộc tính
          th Hình ảnh
          th Giá / Giá đặc biệt
          th Số lượng
          th TT
          th Vị trí
          th Trạng thái
      tbody
        each item in products
          tr
            td
              input(type="checkbox" name='id' value=item.id)
            td
              | #{item.title}
              br
              .action-links
                span  Sửa
                span( style="color: red" button-delete data-id=item.id ) Xóa
                if(item.status === 'active') 
                  span.status-active(button-change-status data-status=item.status data-id=item.id) Hoạt động
                else 
                  span.status-inactive(button-change-status data-status=item.status data-id=item.id) Ngừng hoạt động
            td
              if(item.isItem) 
                span.status-active Sản phẩm mới
              else 
                span.status-inactive Sản phẩm cũ
            td
              img(src=item.thumbnail, alt="")
              img(src="https://via.placeholder.com/32", alt="")
            td
              span.price #{item.price}đ
              span.price-special / 2,550,000đ
              //- br
              //- span.price 350,000
              //- span.price-special / 330,000
            td.stock #{item.stock}
            td •
            td.position #{item.position}
            td
              if(item.status === 'active') 
                span.status-active Hoạt động
              else 
                span.status-inactive Ngừng hoạt động
    +paginationStatic(pagination)
    +modal()

  
  form(action="" method='POST' id='form-change-status' path=`${prefixAdmin}/product/change-status/`) 
  form(action="" method='POST' id='form-delete-product' path=`${prefixAdmin}/product/delete/`) 
  script(src='/admin/js/product.js')

