mixin quantity-control(stock, quantity, productId)
    .quantity-control
      .quantity-btn
        i.bx.bx-minus
      input.quantity-display(
        type="number", 
        name="quantity", 
        value=quantity? quantity: 1, 
        min="1",
        product-id=productId 
        max=stock
      )
      .quantity-btn
        i.bx.bx-plus
