section.sidebar
  a(href=`${prefixAdmin}/dashboard` class='logo') 
    .sidebar__logo
      img(src="/admin/images/logo-transparent.png", alt="logo-brand")
  ul.sidebar__menu.top 
    li
      .menu-item(class=(activePage === 'dashboard' ? 'active' : ''))
        a.trigger(href=`${prefixAdmin}/dashboard`)
          .left 
            i(class="bx bxs-dashboard") 
            span.sidebar__text Tổng quan 
    li
      .menu-item(class=(activePage === 'product' ? 'active' : ''))
        .trigger
          .left 
            i(class='bx bx-package') 
            span.sidebar__text Sản phẩm
          i(class="bx bx-chevron-right")
      ul.submenu
        li(class=(activeSub === 'product-list' ? 'active' : ''))
          a(href=`${prefixAdmin}/product`)
            i.bx.bx-circle
            span.text Danh sách sản phẩm
        li(class=(activeSub === 'add-product' ? 'active' : ''))
          a(href=`${prefixAdmin}/product/create-product`)
            i.bx.bx-circle
            span.text Thêm sản phẩm
        li(class=(activeSub === 'category-list' ? 'active' : ''))
          a(href=`${prefixAdmin}/category`)
            i.bx.bx-circle
            span.text Danh mục sản phẩm        
    li
      .menu-item
        a.trigger(href="#")
          .left
            i.bx.bx-basket
            span.sidebar__text Đơn hàng
    li
      .menu-item
        a.trigger(href="#")
          .left 
            i.bx.bxs-doughnut-chart
            span.sidebar__text Báo cáo
    li
      .menu-item
        a.trigger(href="#")
          .left 
            i.bx.bxs-group
            span.sidebar__text Khách hàng
    li
      .menu-item
        a.trigger(href="#")
          .left 
            i.bx.bxs-message-dots
            span.sidebar__text Bình luận/đánh giá
    li
      .menu-item
        a.trigger(href="#")
          .left
            i.bx.bx-mail-send
            span.sidebar__text Liên hệ
  ul.sidebar__menu
    li
      .menu-item(class=(activePage === 'setting' ? 'active' : ''))
        a.trigger(href=`${prefixAdmin}/setting`)
          .left 
            i.bx.bxs-cog
            span.sidebar__text Cài đặt
    li
      .menu-item
        a.trigger.logout(href=`${prefixAdmin}/auth/logout`)
          .left 
            i.bx.bx-log-out
            span.sidebar__text Đăng xuất